* {box-sizing: border-box}

body {
    background-color: darkslategray;
}
  
h3 {
    color: #333;
    text-align: center;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#input-block {
    margin: auto;
    padding:15px;
}

input{
    order: 0;
}

#submit-button {
    order: 1;
    margin: auto;
    padding:10px 15px;
    background-color: #333;
    color: #fff; 
    border: none;
}


.trash-button{
    float: right;
    border: none;
    background-color:transparent;
    padding: 4.2px 8px;
}

.fa-trash-alt:hover {
    color: rgb(173, 18, 18);
}

.check-button {
    float: left;
    border: none;
    background-color: transparent;
    padding: 4.2px 8px;
}

/* prevents highlighting buttons */
button:focus {
    outline: none;
    box-shadow: none;
    background-color: transparent;
}
.button:focus {
    background-color: #333;
}

#task-list {
    margin: auto;
    width: 80%;
    text-align: center;
    font-size: 25px;
}

li {
    list-style-type: none; 
    width:100%;
}

li.checked1{
    background-color: rgba(32, 94, 94, 0.582);
    text-decoration: line-through darkslategray;
}

span {
    float: center;
}